NEXT_PUBLIC_GITHUB_URL=https://github.com/yourusername
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/yourprofile/
NEXT_PUBLIC_EMAIL=your-email@example.com
NEXT_PUBLIC_PHONE=+1 123 456 7890
NEXT_PUBLIC_PHONE_HREF=+11234567890
NEXT_PUBLIC_RESUME_LINK=https://drive.google.com/your-resume-link
NEXT_PUBLIC_SITE_URL=https://yourdomain.com